<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ChildrenMeal</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>

</head>
<body>
<div class='wave'></div>
<div class="userInfo">
    <img src="../img/user.png" />
    <span th:text="${childDetailInfo.name}">이름</span>
    <span th:text="${childDetailInfo.age}">나이</span>
</div>
<div class='map' id="map" ></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=657888584362b34de9ae34668675e958"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    var lat = [[ ${childDetailInfo.regionLat} ]];
    var lng = [[ ${childDetailInfo.regionLng} ]];
    /*]]>*/
    var mapContainer = document.getElementById('map');
    var mapOptions = {
        center : new kakao.maps.LatLng(lat,lng),//중앙 ( 본인 )
        level : 5
    };

    var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png",//현재위치 이미 (별)
        imageSize = new kakao.maps.Size(24,35),
        imageOption = {offset : new kakao.maps.Point(27,35)};


    var markerImage = new kakao.maps.MarkerImage(imageSrc,imageSize,imageOption);
    var map = new kakao.maps.Map(mapContainer,mapOptions);

    var markerPosition =  new kakao.maps.LatLng(lat,lng);

    var marker = new kakao.maps.Marker({
        position:markerPosition,
        image:markerImage
    });

    marker.setMap(map);

    /*<![CDATA[*/
    var list = [[${restaurantData}]];
    /*]]>*/

    var positions = [
        {
            /*<![CDATA[*/
            content :
                '<div class="wrap">' +
                '    <div class="info">' +
                '        <div class="title">' +
                            list[0].resName +
                '        </div>' +
                '        <div class="body">' +
                '            <div class="img">' +
                '                <img src="http://cfile181.uf.daum.net/image/250649365602043421936D" width="73" height="70"/>' +
                '           </div>' +
                '            <div class="desc">' +
                '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>' +
                '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>' +
                '                <div><a href="http://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>' +
                '            </div>' +
                '        </div>' +
                '    </div>' +
                '</div>',
            /*]]>*/
            latlng : new kakao.maps.LatLng(list[0].regionLat,list[0].regionLng)
        },
        {
            content : list[1].resName,
            latlng : new kakao.maps.LatLng(list[1].regionLat,list[1].regionLng)
        },
        {
            content : list[2].resName,
            latlng : new kakao.maps.LatLng(list[2].regionLat,list[2].regionLng)
        },
        {
            content : list[3].resName,
            latlng : new kakao.maps.LatLng(list[3].regionLat,list[3].regionLng)
        }
    ];

    /*<![CDATA[*/
    for(var j=0;j<positions.length;j++){
        var resMarKer = new kakao.maps.Marker({
            map:map,
            position:positions[j].latlng,
            clickable:true
        });
        resMarKer.setMap(map);
        //마커클릭
        var infowindow = new kakao.maps.InfoWindow({
            content : positions[j].content,
            removable : true,
            position : positions[j].latlng
        });
        kakao.maps.event.addListener(resMarKer, 'click', makeClickListener(map,resMarKer,infowindow));
        function makeClickListener(map,resMarKer,infowindow) {
            return function(){
                infowindow.open(map,resMarKer);
            };
        }
    }
    /*]]>*/
    //지도 움직임
    var mapTypeControl = new kakao.maps.MapTypeControl();
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

</script>
<div class='resTable' id="resTable">
    <div class="panel-body" id="resInfo">
        <div class="table-responsive">
            <table id="licenseTable" class = "resTable-content">
                <thead>
                <tr>
                    <th>식당이름</th>
                    <th>위도</th>
                    <th>경도</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${restaurantData}">
                    <td th:text = "${c.resName}">식당이름</td>
                    <td th:text = "${c.regionLat}">위도</td>
                    <td th:text = "${c.regionLng}">경도</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>