<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="meal.mapper.ChildrenMapper">
    <select id="getChildId" resultType="java.lang.String">
        select id_num from login_info where login_id = #{id} and login_pw = #{pw}
    </select>

    <select id="getChildInfo" resultType="meal.dto.ChildDetailInfoDto">
        select c.name,ci.age,r.region_code,r.region_name,ri.region_lat,ri.region_lng from child as c
        join child_info as ci
        on c.id_num = ci.id_num
        join region as r
        on r.region_code = ci.region_code
        join region_info as ri
        on ri.region_code = r.region_code
        where c.id_num = #{idNum}
    </select>

    <sql id="resList" >
        select rt.region_lat,rt.region_lng,rt.res_name,rt.res_address,rt.res_link
        from region_info as ri
        join restaurant as rt
        on ri.region_code = rt.region_code
    </sql>

    <select id="getResList" resultType="meal.dto.RestaurantDto">
        <include refid="resList"/>
            <![CDATA[
                where ri.region_code = #{regionCode}
            ]]>
    </select>
</mapper>