<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="meal.mapper.ChildrenMapper">
    <select id="getChildId" resultType="java.lang.String">
        select id_num from login_info where login_id = #{id} and login_pw = #{pw}
    </select>

    <select id="getChildInfo" resultType="meal.dto.ChildDetailInfoDto">
        select c.name,ci.age,r.region_code,r.region_name from child as c
        join child_info as ci
        on c.id_num = ci.id_num
        join region as r
        on r.region_code = ci.region_code
        where c.id_num = #{idNum}
    </select>


</mapper>